@model WebAnToanVeSinhThucPhamDemo.Models.Blog.TinTuc

@{
    ViewData["Title"] = @Model.TieuDe;
}

<style>
    .title-with-margin {
        margin-top: 45px; 
    }
</style>

<h1 class="title-with-margin">@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mô tả
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class="col-sm-2">
            Url
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(@Model.NoiDung)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CanBo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CanBo.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDTinTuc">Sửa</a> |
    <a asp-action="Index">Các bài viết</a>
</div>