@model IEnumerable<WebAnToanVeSinhThucPhamDemo.Models.BaoCaoViPham>

@{
    ViewData["Title"] = "Danh sách báo cáo vi phạm";
}
<hr />

<div class="content container-fluid">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Danh sách báo cáo vi phạm</h5>
            </div>
            <div class="card-body">
                <form class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Từ ngày</label>
                            <input id="fromDate" type="date" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Đến ngày</label>
                            <input id="toDate" type="date" class="form-control">
                        </div>
                    </div>
                </form>
                <table id="reportTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Ngày báo cáo
                            </th>
                            <th>
                                Họ tên
                            </th>
                            <th>
                                SĐT
                            </th>
                            <th>
                                CCCD
                            </th>
                            <th>
                                Cơ sở
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th>
                                Nội dung
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr onclick="window.location.href = '/BaoCaoViPham/Detail/' + @item.IdbaoCao;" style="cursor: pointer;" >
                            <td data-sort='@item.NgayBaoCao.Value.ToString("yyyyMMdd")'>
                                @item.NgayBaoCao.Value.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HoTen)
                                <span style="display: none;">@StringExtension.ConvertNoSymbol(item.HoTen)</span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sdt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cccd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdcoSoNavigation.TenCoSo)
                                        <span style="display: none;">@StringExtension.ConvertNoSymbol(item.IdcoSoNavigation.TenCoSo)</span>
                            </td>
                            <td>
                                @($"{item.IdcoSoNavigation.DiaChi}, {item.IdcoSoNavigation.PhuongXa.TenPhuongXa}, {item.IdcoSoNavigation.PhuongXa.QuanHuyen.TenQuanHuyen}")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoiDung)
                                <span style="display: none;">@StringExtension.ConvertNoSymbol(item.NoiDung)</span>
                            </td>
                            <td>
                                <a asp-action="Detail" asp-route-id="@item.IdbaoCao">Xem</a>
                            </td>
                        </tr>
                }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var table;
        var fromDatePicker = document.querySelector('#fromDate');
        var toDatePicker = document.querySelector('#toDate');

        function parseDate(input) {
            const parts = input.split('/');
            const day = parseInt(parts[0], 10);
            const month = parseInt(parts[1], 10) - 1;
            const year = parseInt(parts[2], 10);

            const date = new Date(year, month, day);
            return date;
        }

        $(document).ready( function () {
            table = $('#reportTable').DataTable({
                language: {
                    "decimal":        "",
                    "emptyTable":     "No data available in table",
                    "info":           "", @* "Hiện từ _START_ đến _END_ trong số _TOTAL_ dòng", *@
                    "infoEmpty":      "", @* "Hiện từ 0 đến 0 trong số 0 dòng", *@
                    "infoFiltered":   "", @* "(filtered from _MAX_ total entries)", *@
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Hiển thị _MENU_ dòng",
                    "loadingRecords": "Loading...",
                    "processing":     "",
                    "search":         "Tìm kiếm:",
                    "zeroRecords":    "Không có dữ liệu phù hợp",
                    "paginate": {
                        "first":      "Đầu tiên",
                        "last":       "Cuối cùng",
                        "next":       "Tiếp theo",
                        "previous":   "Trang trước"
                    },
                    "aria": {
                        "orderable":  "Order by this column",
                        "orderableReverse": "Reverse order this column"
                    }
                },
                "columnDefs": [
                    { "orderable": false, "targets": 7 },
                ],
                "order": [[ 0, 'desc' ]]
            });

            $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
                let from = new Date(fromDatePicker.value);
                let to = new Date(toDatePicker.value);
                let date = parseDate(data[0]);
                @* console.log(date + ' | ' + from + ' | ' + to); *@

                if (
                    (isNaN(from.getTime()) && isNaN(to.getTime())) ||
                    (isNaN(from.getTime()) && date <= to) ||
                    (from <= date && isNaN(to.getTime())) ||
                    (from <= date && date <= to)
                ) {
                    return true;
                }
                return false;
            });
        });

        document.querySelectorAll('#fromDate, #toDate').forEach((el) => {
            el.addEventListener('change', () => { table.draw(); });
        });
    </script>
}